<p>This is what you get when searching for "<%= params[:term] %>"</p>

<p class="lead result-title">Matched Articles</p>
<% @articles.each do |article| %>
  <p><%= link_to article.title, articles_path(article.category.name, article.id) %></p>
<% end %>

<% if @categories.all.count > 0 %>
  <p class="lead result-title">Matched Categories</p>
  <% @categories.each do |category| %>
    <p><%= category.name %></p>
  <% end %>
<% end %>
