<% if results? %>
	<p>This is what you get searching for "<%= params[:term] %>"</p>

	<h3 class="result-title">Matched Articles</h3>

	  <% @articles.each do |article| %>
	    <p class="lead"><%= link_to article.title, articles_path(article.category.name, article.id) %></p>
	  <% end %>

	<% if @categories.all.count > 0 %>
	  <h3 class="result-title">Matched Categories</h3>
	  <% @categories.sort.each do |category| %>
	    <p class="lead"><%= link_to category.name, a_category_path(category.name) %></p>
	  <% end %>
	<% end %>

<% else %>
	<div id="silencer">
		<p>No results for "<%= params[:term] %>". Please wick again.</p>
		<iframe src="//giphy.com/embed/axYOThJ5Qbwac?hideSocial=true" width="480" height="240" frameborder="0" class="giphy-embed" allowfullscreen=""></iframe>
	</div>
<% end %>
