<div class="links-partial">
<span class="article-link"><%= link_to "View", articles_path(@article.category, @article) %></span>
<span class="article-nav-right">
<span class="article-link"><%= link_to "Edit", edit_article_path(@article.category, @article) %></span>
<span class="article-link"><%= link_to "History", edit_article_path(@article.category, @article) %></span>
<span class="article-link"><%= link_to "Comments", article_comments_path(@article.category, @article) %></span>
</span>
</div>
