<%= render "links_partial" %>
<div class="content">
<h3><%=@article.title%></h3>

<% if @article.edits.length > 0 %>

<%= raw @article.edits.last.content %>

<% else %>

This article has no body!!!

<% end %>

</div>
