<div>
  <% @users.each do |user| %>
    <% if current_user != user %>
      <div>
        <%= user.username %> - 
        <% if user.admin %>
          ADMIN
        <% end %>
        | 
        <%= link_to "Delete", user, method: :delete, data: { confirm: "Are you sure?" } %>
        |
        <%= link_to "Promote", promote_to_admin_user_path(user), method: :put, data: { confirm: "Are you sure?" }  %> 
        |
        <%= link_to "Demote", demote_from_admin_user_path(user), method: :put, data: { confirm: "Are you sure?" }  %> 
      </div>
        <% end %>
    <% end %>
</div>