<h2>Today's Featured Articles</h2>

<% @featured_articles.each do |article| %>
  <p class="lead"><%= link_to article.title, articles_path(article.category.name, article.id) %></p>
  <p class="follow">--<%= article.category.name %></p>
<% end %>
