* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  height: 100vh;
}

nav {
  #search-button {
    margin-left: -8px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}

.flex-container {
  flex: 1 100%;
  display: flex;
  align-items: stretch;
  margin-top: -20px;

  #side-bar {
    margin-right: 2%;
    margin-bottom: 0;
    border-right: 1px solid #ddd;
    border-top-right-radius: 0;

    #side-bar-title {
      border-bottom: 3.5px solid #ddd;
    }

    .list-group-item {
      border: 0;
    }

    #about {
      position: absolute;
      bottom: 0;
    }
  }

  .list-group-item:first-child {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  .list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {
    background-color: #2196f3;
    border-color: #2196f3;
    background-image: none;
  }
}
