* {
  box-sizing: border-box;
}

body {
  background-color: salmon;
  margin: 0;
}

nav {
  #search-button {
    margin-left: -8px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}
