/** {
  box-sizing: border-box;
}*/

body {
  background-color: salmon;
  margin: 0;
}

nav {
  /*margin: 0 1%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: inline;

    li {
      padding:0;
      display: inline;
      margin: 0 5px;
    }
  }

  a {
    text-decoration: none;
  }*/
}
