#page-content {
  .result-title {
    color: #666666;
  }

  #silencer {
		pointer-events: none;
		margin: 1%;

		.giphy-embed {
			margin-top: 1%;
		}
  }

  .dank_meme {
    margin-top: 3%;
    max-width: 500px;
    max-height: 400px;
  }
}
